.square {
    width: 140px;
    height: 140px;
    background-color: #be125b;
    box-shadow: 0px 4px 25px 7px #be125b;
    transition: all .30s;
}

.square:hover {
    transform: rotate(360deg) skewX(-25deg);
    background: linear-gradient(45deg, #1512be 5%,#be125b);
}