h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: green;
    overflow: hidden;
    animation: text 2s linear infinite;
}

@keyframes text {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}